<div class="box">
    <h2>Our Recents Projects</h2>

    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </p>
</div>

<div class="cards">
    
    <div class="card">
        <img src="/assets/Rectangle15.png" alt="">
    </div>

    <div class="card">
        <img src="/assets/Rectangle16.png" alt="">
    </div>

    <div class="card">
        <img src="/assets/Rectangle17.png" alt="">
    </div>

    <div class="card">
        <img src="/assets/Rectangle18.png" alt="">
    </div>

    <div class="card">
        <img src="/assets/Rectangle19.png" alt="">
    </div>

    <div class="card">
        <img src="/assets/Rectangle20.png" alt="">
    </div>
</div>
