

<main class="wrapper">
    <h1>B is for Badge</h1>

    <p>Because They Look Awesome as Buttons...</p>

    <h5><b>Badges</b> are used as ornaments in website designing. They are usually used to express the quality/reliability of a product or a service.</h5> 
    
    <article class="badge orange">
        <div class="rounded"><i class="fab fa-html5"></i></div>
    </article>
    
    <article class="badge blue">
        <div class="rounded"><i class="fab fa-css3-alt"></i></div>
    </article>
    
    <article class="badge gold">
        <div class="rounded"><i class="fab fa-js-square"></i></div>
    </article>
    
    <article class="badge red">
        <div class="rounded"><i class="fab fa-angular"></i></div>
    </article>
    
    <article class="badge purple">
        <div class="rounded"><i class="fab fa-php"></i></div>
    </article>
    
    <article class="badge green">
        <div class="rounded"><i class="fab fa-node"></i></div>
    </article>
    
    <article class="badge crimson">
        <div class="rounded"><i class="fab fa-npm"></i></div>
    </article>
    
    <article class="badge steel">
        <div class="rounded"><i class="fab fa-python"></i></div>
    </article>
    
    <article class="badge pink">
        <div class="rounded"><i class="fab fa-sass"></i></div>
    </article>
    
    <article class="badge rebecca">
        <div class="rounded"><i class="fab fa-bootstrap"></i></div>
    </article>
    
    <article class="badge gainsboro">
        <div class="rounded"><i class="fab fa-java"></i></div>
    </article>

    <article class="badge github">
        <div class="rounded"><i class="fab fa-github"></i></div>
    </article>

</main>