<h1>Why work with us</h1>
<div class="cards">
    

    <div class="card">
        <h2 class="textUm">Lorem Ipsum</h2>

        <h3>Lorem Ipsum</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>

    <div class="card">
        <h2 class="textDois">Lorem Ipsum</h2>

        <h3>Lorem Ipsum</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>

    <div class="card">
        <h2 class="textTres">Lorem Ipsum</h2>

        <h3>Lorem Ipsum</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
</div>