.box{
    width: 100%;
    height: auto;
    color: #fff;
    z-index: 999;
    margin: 0 auto;
}



h2{
    width: 20%;
    font-size: 34px;
    margin-top: -60px;
    margin-left: 5%;
}

p{
    width: 30%;
    font-size: 20px;
    margin-top: 40px;
    line-height: 1.5;
    margin-left: 5%;
}

h3{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 5%;
}


button{
    margin-top: 30px;
    width: 10%;
    font-size: 20px;
    padding: 10px;
    border-radius: 1px;
    background-color: #D80027;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5%;
}

button:hover{
    background-color: #c70021;
}
.image{
    text-align: end;
    width: 90%;
    margin-top: -23%;
}