<div class="box">
    <h2>Our Team</h2>
    <div class="cards">
        
        <div class="card">
            <img src="/assets/Bill 1.png" alt="">
             <p>{{SuportOne.name}}</p>
             <p>{{SuportOne.jobTitle}}</p>
        </div>

        <div class="card">
            <img src="/assets/Beverly 1.png" alt="">
             <p>{{SuportTwo.name}}</p>
             <p>{{SuportTwo.jobTitle}}</p>
        </div>

        <div class="card">
            <img src="/assets/Claudia 1.png" alt="">
             <p>{{SuportThree.name}}</p>
             <p>{{SuportThree.jobTitle}}</p>
        </div>

        <div class="card">
            <img src="/assets/Avatar 1.png" alt="">
             <p>{{SuportFour.name}}</p>
             <p>{{SuportFour.jobTitle}}</p>
        </div>

    </div>

</div>